extends layout

block content
  .container
    aside
      h3 Uploaded Zips
      ul.upload-list
        each file in files
          li
            span.file-name #{file.filename} (#{file.date || file.created_at})
            form(method="POST", action=`/upload/delete/${file.id}`)
              button.delete-btn(type="submit") ✕
      button.upload-btn Upload

    main.main-content
      .main-tabs
        button.tab-btn.active#followersTab Followers
        button.tab-btn#followingTab Following

      .diffs-section#followersContent
        each diff in diffs.slice().reverse()
          .comparison
            h3 #{diff.from_date} → #{diff.to_date}
            .diff-row
              .diff-col
                h4 Followers Added
                - const arrAdded = JSON.parse(diff['followers_added'])
                if arrAdded.length
                  ul
                    each user in arrAdded
                      li #{user}
                else
                  p None
              .diff-col
                h4 Followers Removed
                - const arrRemoved = JSON.parse(diff['followers_removed'])
                if arrRemoved.length
                  ul
                    each user in arrRemoved
                      li #{user}
                else
                  p None

      .diffs-section#followingContent(style="display:none;")
        each diff in diffs.slice().reverse()
          .comparison
            h3 #{diff.from_date} → #{diff.to_date}
            .diff-row
              .diff-col
                h4 Following Added
                - const arrAdded = JSON.parse(diff['following_added'])
                if arrAdded.length
                  ul
                    each user in arrAdded
                      li #{user}
                else
                  p None
              .diff-col
                h4 Following Removed
                - const arrRemoved = JSON.parse(diff['following_removed'])
                if arrRemoved.length
                  ul
                    each user in arrRemoved
                      li #{user}
                else
                  p None


  .modal#uploadModal
    .modal-content
      h3 Upload ZIP files
      #dropZone Drop files here or click to select
      input#modalFile(type='file', multiple hidden)
      .modal-buttons
        button#cancelBtn(type='button') Cancel
        button#confirmBtn(type='button', disabled) Confirm upload
