extends layout

block content
  .container
    aside
      h3 Uploaded Zips
      ul.upload-list
        each file in files
          li
            span.file-name #{file.filename} (#{file.date || file.created_at})
            form(method="POST", action=`/upload/delete/${file.id}`)
              button.delete-btn(type="submit") ✕
      button.upload-btn Upload

    main.main-content
      each diff in diffs
        .comparison
          h3 #{diff.from_date} → #{diff.to_date}

          - ['Followers Added', 'Followers Removed', 'Following Added', 'Following Removed'].forEach(label => {
            - const key = label.toLowerCase().replace(/ /g, '_');
            h4 #{label}
            - const arr = JSON.parse(diff[key])
            if arr.length
              ul
                each user in arr
                  li #{user}
            else
              p None
          - })

  .modal#uploadModal
    .modal-content
      h3 Upload ZIP files
      #dropZone Drop files here or click to select
      input#modalFile(type='file', multiple hidden)
      .modal-buttons
        button#cancelBtn(type='button') Cancel
        button#confirmBtn(type='button', disabled) Confirm upload
