extends layout

block content
  div(class="auth-container w-80 mx-auto my-20 p-8 bg-container-bg dark:bg-dark-container-bg border border-input-border rounded-lg shadow-lg text-center")
    h2(class="text-accent2 dark:text-accent2 text-3xl font-bold mb-8 select-none cursor-default") Register

    form(action="/auth/register" method="POST")
      input(
        type="text"
        name="username"
        placeholder="Username"
        required
        class="w-full p-3 mb-4 border border-input-border rounded-md bg-input-bg text-text dark:bg-gray-700 dark:text-dark-text transition-colors duration-300 ease-in-out "
      )
      input(
        type="password"
        name="password"
        placeholder="Password"
        required
        class="w-full p-3 mb-4 border border-input-border rounded-md bg-input-bg text-text dark:bg-gray-700 dark:text-dark-text transition-colors duration-300 ease-in-out "
      )
      button(
        type="submit"
        class="w-full p-3 bg-accent2 text-white font-medium rounded-md cursor-pointer mb-6 transition-colors hover:bg-accent2-hover select-none"
      )
        | Register

    p(class="text-sm flex justify-center items-center select-none text-text dark:text-dark-text transition-colors duration-300 ease-in-out ")
      span(class="select-none") Already have an account?
      a(class="ml-2 text-accent2 hover:text-accent2-hover select-none" href="/auth/login") Log in
